* {
  box-sizing: border-box;
}

#content #summary {
  background-color: #ccc;


}
label {
  display: block;
  font-weight: lighter;
}

.padded-left {
  margin-left: ($spacer-x * .25);
}

.invalid-data {
  border-color: red;
}
