.navbar-header .navbar-brand {
  font-size: 30px;
}

.img-thumbnail {
  width: 20%;
  height: 20%;
}

.links li {
  border: 0px;
}

.carousel-margin {
  margin-top: 10%
}

.email-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
